@font-face {
    font-family: pangramSans;
    src: url(../fonts/Pangram-Regular.woff);
  }
  
  @font-face {
    font-family: monumentLight;
    src: url(../fonts/MonumentExtended-Light.woff2);
  }
  
  